.avatar{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.userData{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    padding-inline: 11px;
    column-gap: 10px;
    align-items: center;
}

.para{
    font-weight: 200;
}

.userData li > p{
font-family:  Montserrat;
font-size: 10px;
text-align: center;
font-weight: 200;
}

.viewButton{
    padding: 4px 15px;
    background: rgba(9, 132, 214, 0.1);
border-radius: 9px;
color: #0984D6;
font-family: Montserrat;
font-size: 9px;
font-weight: 500;
}

.verified1{
    color: #24C18F;
}

.verified2{
    color: #192A3E;
}