@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.firstWrapper{
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.small{
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
}

#responsiveContainer{
    display: grid;
    place-items: center;
    overflow: auto;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
}


.dashboardWrapper{
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* margin-top: 20px; */
    column-gap: 20px;
}

.dashboardContainer{
    position: relative;
}

.homeBottom{
    grid-column: 1/-1;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}



.dashboardContainer > p{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
color: #2E3A59;
}

.dashboardContainer > div{
    margin-top: 24px;
}


.fileCountHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
}

.arrow{
    position: absolute;
    top: -20px;
    right: 12px;
}

.myRecentHolder{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.bottomHeading{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    padding: 16px 11px;
    column-gap: 10px;
    justify-content: space-between;
    background: #F7F8FA;
border: 1px solid #EFF0F4;
border-radius: 8px;
}

.bottomHeading p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
color: #505470;
text-align: center;
}

.responsiveDiv{
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
border-radius: 10px;
}

.usersList{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    padding-block: 22px;
}

.usersList li{
font-family: Montserrat;
font-size: 12px;
font-weight: 900;
color: #4D5E80;
}
