.container {
  background-color: #f5f5f5;

  width: 100vw;
  height: 100vh;
}

.navItem {
  padding: 10px 43px;
}

.navItem p {
  font-size: 14px;
  opacity: 0.9;
}

.navItem:hover {
  transform: scale(1.05);
  opacity: 1;
}

.nav {
  background-color: white;
  width: fit-content;
  height: 100%;
  overflow: auto;
}

.navItemWrapper {
  margin-top: 100px;
  margin-bottom: 80px;
}
