@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.firstWrapper{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
} 

.small{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    }
