@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.firstWrapper{
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.small{
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
}

.differentContainers{
    margin-top: 22px;
    display: flex;
    column-gap: 75px;
    align-items: center;
    border-bottom: 1px solid #101010;
}

.myProperty{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.differentContainers p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
padding-block: 2px;
cursor: pointer;
}

.myProperty > p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 800;
color: #2E3A59;
}


.myProperty > input{
    font-family: Inter;
font-size: 13px;
font-weight: 500;
    padding: 16px 13px;
    border: 1px solid #E4E6EE;
border-radius: 4px;
}

.propertyList{
    margin-top: 23px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 16px 11px;
    background: #F7F8FA;
    border: 1px solid #EFF0F4;
    border-radius: 8px;
    column-gap: 10px;
}

.propertyList p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
color: #505470;
text-align: center;
}

.propertyList > li:first-child{
    display: flex;
    align-items: center;
    column-gap: 27px;
}

.myPropsHolder{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}